/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* width */
.width-90 {
    width: 90%;
}
.width-80 {
    width: 80%;
    margin: 0 auto;
}

.width-70{
    width: 70%;
    margin: 0 auto;
}

.width-65 {
    width: 65%;
}

.width-60 {
    width: 60%;
}
.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-35 {
    width: 35%;
}

.width-30 {
    width: 30%;
}

.width-20 {
    width: 20%;
}

.width-10 {
    width: 10%;
}

/* padding */

.pd-3 {
    padding: 3em;
}

.pd-btm-1 {
    padding-bottom: 1em;
}
.pd-btm-2 {
    padding-bottom: 2em;
}
.pd-btm-3 {
    padding-bottom: 3em;
}

.pd-btm-12 {
    padding-bottom: 12em;
}

.pd-top-4 {
    padding-top: 4em;
}

.pd-l-2 {
    padding-left: 2em;
}

.pd-r-2 {
    padding-right: 2em;
}

/* margin */

.mrg-btm-1 {
    margin-bottom: 1em;
}

.mrg-btm-2 {
    margin-bottom: 2em;
}
.mrg-btm-3 {
    margin-bottom: 3em;
}

.mrg-top-4 {
    margin-top: 4em;
}

.mrg-top-3 {
    margin-top: 3em;
}

.mrg-l-26 {
    margin-left: 26em;
}

/* font size */

.font-size-07 {
    font-size: 0.7em;
}

.font-size-09 {
    font-size: 0.9em;
    font-weight: 500;
    line-height: 2em;
}

.font-size-1 {
    font-size: 1em;
}

.font-size-2 {
    font-size: 2em;
}

.font-size-3 {
    font-size: 3em;
}



/* float */
.float-l {
    float: left;
}

.float-r {
    float: right;
}

/* img */
.img {
    width: 100%;
}

.btn {
    display: inline-block;
    text-decoration: none;
    transition: 1s;
}

.btn:hover {
    box-shadow: 5px 10px #C0C0C0;
}


.list-style-type {
    list-style-type: none;
    padding: 0;
    margin:0;
}


/* navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    line-height: 70px;
    background-color: white;
    font-size: 0.8em;
    font-weight: 600;
}

.v-align {
    vertical-align: middle;
}
.navbar ul {
    display: inline-block;
}

.navbar ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1em;
}

.navbar ul li:hover {
    border-bottom: 1px solid black;
}


nav a {
    text-decoration: none;
    color: black;
}

a.btn {
    background-color: #0061FF;
    padding: 0.5em 1em;
    line-height: 2em;
    color: white;
}

.col-sx {
    padding-left: 2em;
}


/* header */

header {
    background-color: #B4D0E7;
    height: 830px;
}


.jumbo-title {
    padding-top: 5em;
    margin-bottom: 2em;
    font-size: 2.3em;
}


.jumbo-btn {
    margin: 1em 0;
    padding: 1em 0;
}

.arrow-dw {
    font-size: 3em;
    margin-top: 1em;
    color: black;
}


/* main */
.container-main {
    padding-top: 10em;
}

.title-plan {
    margin-bottom: 5em;
}

span .checkbox {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 0.5em;
}

span .checkbox:hover {
    border: 3px solid blue;
    cursor: pointer;
}

/* Plan Option */

[class^=col-plan] {
    border: 1px solid lightgray;
    width: 30%;
    height: 1200px;
}


.col-plan-cn {
    margin: 0 5%;   
}

.text-col-plan {
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-align: center;
    padding: 1em;
}

.plan-description {
    padding: 4em 2em;
    line-height: 2em;
}


.plan-btn {
    padding: 2em;
    margin: 2em 0;
}

.btn-border-bottom {
    display: inline-block;
    padding-left: 2em;
}

.oppure {
    border-bottom: 1px solid gray;
    padding-bottom: 1.5em;
}

.fa-check {
    color: blue;
}

.color-gray {
    color: gray;
}


.container-enterprise {
    width: 100%;
    margin-top: 3em;
    border: 1px solid lightgray;
}

/* Enterprise */

.enterprise {
    padding-top: 2em;
}

.cont-entreprise-col-sx {
    padding-left: 2em;
    line-height: 2em;
}

/* partner */


.container-partner {
    padding-top: 10em;
}

.partner-col-dx {
    padding-left: 2em;
    padding-top: 2em;
    line-height: 2em;
}

.container-btn-partner {
    margin-top: 2em;
}
.btn.btn-partner {
    background-color: white;
    border: 1px solid black;
    color: black;
}

/* operations */

.container-operations {
    margin-top: 3em;
}

[class^=col-operations] {
    width: 30%;
}


.col-operations-cn {
    margin: 0 5%;   
}

.client {
    margin-top: 8em;
    margin-bottom: 2em;
}

.square {
    width: 50%;
    height: 200px;
}

.p-relative {
    position:relative;
}

.transform {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.designit {
    background-color: #A2D39B;
}

.asu {
    background-color: #61082B;
}

.uf {
    background-color: #0093CE;
}

.topps {
    background-color: #FF1C1C;
}

.world-bicycle {
    background-color: #D5001F;
}

.hearst {
    background-color: #B4D0E7;
}

.lonely-planet {
    background-color: #0D2481;
}

.clear-channel {
    background-color: #FFD830;
}

.bg-color-black {
    background-color: black;
}



.client-col-cn {
    background-color: #F5F5F5;
}

.color-cyan a {
    background-color: white;
    color: black;
}

.container-cyan {
    width: 70%;
    margin: auto;
    padding: 120px 0;
}

.border-top {
    border-top: 1px solid lightgray;
}

.border-bottom {
    border-bottom: 1px solid lightgray;
}

.line-height-4 {
    line-height: 4em;
}

.color-white {
    color: white;
}

/* faqs */

.container-faqs .float-l {
    font-weight: bold;
    padding: 2em 0;
}

/* footer */
.container-footer ul li {
    list-style-type: none;
}

.container-footer a {
    color: white;
    text-decoration: none;
    line-height: 2em;
    font-size: 0.6em;
}

.col-footer {
    width: calc(100% / 5);
}

.container-footer h4 {
    margin-bottom: 2em;
}


.footer-language {
    font-size: 0.65em;
}