* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 70px;
    background-color: white;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.navbar ul {
    display: inline-block;
}

.navbar ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1em;
}

.navbar ul li:hover {
    border-bottom: 1px solid black;
}


nav a {
    text-decoration: none;
    color: black;
}

a.btn {
    background-color: #0061FF;
    padding: 0.5em 1em;
    line-height: 2em;
    color: white;
}

header {
    background-color: #B4D0E7;
    height: 830px;
}

.container-jumbo {
    width: 80%;
    margin: 0 auto;
}

.jumbo-title {
    padding-top: 5em;
    margin-bottom: 2em;
    font-size: 2.3em;
}

.img {
    width: 100%;
}

.jumbo-col-sx {
    width: 35%;
}

.jumbo-col-dx {
    width: 65%;
}

.jumbo-btn {
    margin: 1em 0;
}

.arrow-dw {
    font-size: 3em;
    margin-top: 2em;
    color: black;
}

.jumbo-col-container a {
    text-decoration: none;
}

.container-main {
    width: 70%;
    margin: 0 auto;
    padding-top: 10em;
}

.title-plan {
    margin-bottom: 5em;
}

span .checkbox {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 0.5em;
}

span .checkbox:hover {
    border: 3px solid blue;
    cursor: pointer;
}

[class^=col-plan] {
    border: 1px solid gray;
    /* height: 600px; */
    width: calc(100% / 3 - 10px);
}


.col-plan-cn {
    margin: 0 50px;   
}

.text-col-plan {
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
}

.plan-description {
    padding: 2em;
    line-height: 2em;
}

.plan-description ul {
   list-style-type: none;
}

.plan-btn {
    padding: 2em;
    margin: 2em 0;
}

.border-bottom {
    display: inline-block;
    padding-left: 2em;
}